<!doctype html>
        <html>
        <body>
            <form action="/event_create" method="post">
                <input type="text" name="eventName" /><br />
                <input type="datetime-local" name="startDate" /><br />
                <input type="datetime-local" name="endDate" /><br />
                <input type="text" name="description" /><br />
                <input type="number" name="location" /><br />
            
                <button>Save</button>
            </form>
        </body>
        </html>