<!DOCTYPE html>
<html style="background: rgb(241,247,252);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FAQ - UQODE</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="assets/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/home" style="font-family: Alatsi, sans-serif;color: rgb(0,71,106);">UQODE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="/home">aCCUEIL</a></li>
                    <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Connexion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/projects">pROJETS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/event">ÉVÈNEMENTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">nOUS CONTACTER</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page faq-page">
        <section class="clean-block clean-faq dark" style="margin: 1px;padding: 0px;">
            <section class="contact-clean" style="background: rgb(241, 247, 252);padding: 50px;height: 577px;filter: contrast(100%);">
                <form method="post" style="width: 475px;height: 477px;">
                    <h2 class="text-center" style="color: rgb(0,71,106);">Créer un projet</h2>
                    <div class="form-group"><input class="form-control" type="text" name="eventName" placeholder="eventName"></div>
                    <div class="form-group"><input class="form-control is-invalid" type="email" name="startDate" placeholder="startDate"></div>
                    <div class="form-group"><input class="form-control is-invalid" type="email" name="startDate" placeholder="endDate"></div>
                    <div class="form-group"><input class="form-control is-invalid" type="email" name="description" placeholder="description"></div>
                    <div class="form-group"><input class="form-control is-invalid" type="email" name="location" placeholder="location"></div>
                    <div class="form-group" style="color: rgb(0,71,106);border-color: rgb(0,71,106);"><button class="btn btn-primary" type="submit" style="color: var(--white);background: rgb(0,71,106);filter: brightness(101%) contrast(115%) saturate(200%);opacity: 1;">send </button></div>
                </form>
            </section>
        </section>
    </main>
    <footer class="page-footer dark" style="background: rgb(0,71,106);">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Commencer</h5>
                    <ul>
                        <li><a href="/home">Accueil</a></li>
                        <li><a href="/registration">S'inscire</a></li>
                        <li><a href="/login">Se connecter</a></li>

                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>À propos</h5>
                    <ul>
                        <li><a href="/event">Évènements</a></li>
                        <li><a href="/projects">Projets</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    
                    <ul>
                        <li><a href="/contact-us">Nous contacter</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright" style="border-color: rgb(0,71,106);background: rgb(0,71,106);">
            <p style="color: rgb(255,255,255);">© 2021 UQODE</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>