<!DOCTYPE html>
<html style="color: rgb(0,71,106);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - UQODE</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body style="color: rgb(0,71,106);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#" style="font-family: Alatsi, sans-serif;color: rgb(0,71,106);">UQODE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="HomePage.html">aCCUEIL</a></li>
                    <li class="nav-item"><a class="nav-link" href="features.html">À PROPOS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Connexion</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">ÉVÈNEMENTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">pROJETS</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">nOUS CONTACTER</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page" style="color: rgb(0,71,106);">
        <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/tech/image4.jpg&quot;);color: rgba(0,71,106,0.85);">
            <div class="text">
                <p style="font-size: 111px;"><strong>UQODE</strong></p>
                <p>Club de programmation de l'UQO</p>
            </div>
        </section>
        <section class="clean-block clean-info dark" style="background: rgba(246,246,246,0);">
            <div class="container">
                <div class="block-heading"></div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/LOGO.jpg" style="border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"></div>
                    <div class="col-md-6">
                        <h3 style="color: rgb(0,71,106);border-color: rgb(0,71,106);border-top-color: rgb(0,71,106);"><strong>UQODE c'est quoi ?</strong></h3>
                        <div class="getting-started-info">
                            <p>UQODE est le club de programmation et de cybersécurité de l'UQO. Nos objectifs sont:&nbsp;<br>-Gagner de l’expérience en codage.<br>-Explorer de nouvelles technologie plus complexes.<br>- Acquérir de nouvelle connaissance en informatique.<br>-Participer à la vie universitaire.<br>-Organiser et participer à des compétitions informatiques inter-universitaires.<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features" style="color: rgb(0,71,106);padding: 0px;padding-bottom: 91px;">
            <div class="container">
                <div class="row justify-content-center" style="background: rgb(0, 71, 106);margin: 0px;">
                    <div class="col-md-5 feature-box">
                        <div class="block-heading">
                            <h3 style="color: rgb(255,255,255);border-color: rgb(0,71,106);border-top-color: rgb(0,71,106);"><strong>Évènements</strong></h3>
                            <p style="filter: brightness(134%);opacity: 1;color: rgb(255,255,255);">Voici une liste des évènements à venir</p>
                        </div>
                        <div class="row space-rows">
                            <div class="col">
                                <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950" style="background: #ffffff;">
                                    <div class="card-body"><i class="fa fa-trophy" id="download-icon" style="color: rgb(0, 71, 106);"></i>
                                        <p class="card-text cardbody-sub-text" style="color: rgb(0,71,106);font-size: 30px;"><strong>Hackathon 2021</strong></p>
                                        <p class="card-text cardbody-sub-text" style="color: rgb(0,71,106);font-size: 14px;">S'inscrire</p>
                                    </div>
                                    <div class="card-header" style="color: rgb(0, 71, 106);background: rgb(0,71,106);"><span class="space"><a href="#"></a></span>
                                        <div class="cardheader-text">
                                            <h4 id="heading-card">123</h4>
                                            <p id="cardheader-subtext">Personnes inscrites</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-heading">
                <h3 style="color: rgb(0,71,106);border-color: rgb(0,71,106);border-top-color: rgb(0,71,106);height: 37px;font-size: 34px;"><strong>Projets</strong></h3>
                <p style="filter: brightness(134%);opacity: 1;">Dans cette section vous pouvez retrouver tous les projets effectués par notre club de programmation</p>
            </div>
            <section style="border-color: rgb(0,71,106);color: rgb(255,255,255);">
                <div class="container" style="color: rgb(255,255,255);">
                    <div class="photo-card">
                        <div class="photo-background" style="background: url(&quot;assets/img/Tempclipboard-image.png&quot;) center / cover no-repeat;"></div>
                        <div class="photo-details" style="color: rgb(255,255,255);background: rgb(255,255,255);border-style: none;border-color: var(--pink);">
                            <h1 style="color: rgb(0,71,106);"><strong>Site Web</strong></h1>
                            <p style="color: rgb(0,71,106);">Notre site web est le tout premier projet d'UQODE. Sur celui-ci vous pouvez retrouver tous nos projets, nos évènements et plus encore.&nbsp;&nbsp;</p>
                            <div class="photo-tags">
                                <ul>
                                    <li>Item 1<a href="#" style="color: rgb(255,255,255);background: rgb(0,71,106);">github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <section style="border-color: rgb(0,71,106);color: rgb(255,255,255);">
                    <div class="container" style="color: rgb(255,255,255);">
                        <div class="photo-card"></div>
                    </div>
                </section>
            </section>
        </section>
    </main>
    <footer class="page-footer dark" style="background: rgb(0,71,106);">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Commencer</h5>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">S'inscire</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>À propos</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Nous contacter</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 UQODE</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>