



<h1>projects page</h1>
<footer class="page-footer dark" style="background: rgb(0,71,106);">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Commencer</h5>
                    <ul>
                        <li><a href="/home">Accueil</a></li>
                        <li><a href="/registration">S'inscire</a></li>
                        <li><a href="/login">Se connecter</a></li>

                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>À propos</h5>
                    <ul>
                        <li><a href="#">But</a></li>
                        <li><a href="/projects">Projets</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    
                    <ul>
                        <li><a href="/contact-us">Nous contacter</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright" style="border-color: rgb(0,71,106);background: rgb(0,71,106);">
            <p style="color: rgb(255,255,255);">© 2021 UQODE</p>
        </div>
    </footer>